<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hostConfiguration" type="HiShop.OC.ThriftS.Service.HostConfigurationSetion,HiShop.OC.ThriftS.Service"/>
  </configSections>
  <hostConfiguration defaultHost="default">
    <hosts>
      <host name="default" thriftPort="18380" thriftPortOpen="" httpPort="" minThreadPoolSize="5" maxThreadPoolSize="20" clientTimeout="0" useBufferedSockets="false"></host>
    </hosts>
  </hostConfiguration>
</configuration>