<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HiShop.ServiceProvider" type="HiShop.OC.Core.ServiceProviderConfig,HiShop.OC.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>



    <!-- 服务检测间隔时间(毫秒) -->
    <!--日志实现类型Local或者OSS-->
    <!--Redis服务器-->
    <!--日志实现类型Local或者OSS-->
    <!--日志来源-->
    <add key="serverIp" value="192.168.20.214" />

    <!--服务注册机器IP-->
    <!-- 服务注册服务器的IP-->
    <add key="RegServerIp" value="oc.hishop.com" />

    <!--服务注册机器端口-->
    <!-- 服务注册服务器的端口 -->
    <add key="RegServerPort" value="18301" />

    <add key="CheckInterval" value="500" />
    <!--日志来源-->
    <add key="CompanyKey" value="" />
    <add key="LogType" value="Local" />
    <add key="LogSource" value="" />
    <add key="RedisServer" value="192.168.11.96:6379,defaultDatabase=5" />
    <add key="serverKey" value="rpcKey"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <HiShop.ServiceProvider>
    <item interface="HiShop.OC.Strategy.Cache.ICache,HiShop.OC.Strategy.Cache" implements="HiShop.OC.Strategy.Cache.Redis,HiShop.OC.Strategy.Cache.Redis" />
  </HiShop.ServiceProvider>
</configuration>
